<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>小风的个人博客 - 关于</title>
	<link rel="stylesheet" href="/css/global.css" />
</head>
<body>
	<div class="body">
		<div id="nav">
			<img class="icon" src="{{.Host.Host}}/img/icon.png"/>
			<div class="nav-center">
				<ul class="clear">
					<li><a href="{{.Host.Host}}/index">博客</a></li>
					<li><a href="{{.Host.Host}}/play">High玩</a></li>
					<li class="active"><a href="{{.Host.Host}}/about">关于自己</a></li>
				</ul>
			</div>
		</div>
		<p style="font-size: 18px;margin: 0 auto;width: 100px;margin-top: 200px;">技术分享</p>
	</div>
</body>
</html>