<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>小风的个人博客 - 关于</title>
	<link rel="stylesheet" href="/css/global.css" />
	<link rel="shortcut icon" href="/img/facvicon.ico" />
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		window.onload = function() {
			$(".clear li").hover(function() {
				$(this).addClass("nav-open");
			}, function() {
				$(this).removeClass("nav-open");
			});
		}
	</script>
</head>
<body>
	<div class="body clearfix">
		<div id="nav">
			<img class="icon" src="{{.Host.Host}}/img/icon.png"/>
			<div class="nav-center">
				<ul class="clear">
					<li>
						<a class="menu-name" href="{{.Host.Host}}/index">博客</a>
						<div class="dropdown dropdown-navbar">
							<ul class="ul-nav ul-nav-navbar">
								<li><a class="menu-text" href="https://windyx.com/sort?type=Golang">Golang</a></li>
								<li><a class="menu-text" href="https://windyx.com/sort?type=C%2b%2b">C++</a></li>
								<li><a class="menu-text" href="https://windyx.com/sort?type=机器学习">机器学习</a></li>
								<li><a class="menu-text" href="https://windyx.com/sort?type=Node">Node</a></li>
								<li><a class="menu-text" href="https://windyx.com/sort?type=Android">Android</a></li>
								<li><a class="menu-text" href="https://windyx.com/sort?type=其它">其它</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a class="menu-name" href="{{.Host.Host}}/play">High玩</a>
					</li>
					<li class="active">
						<a class="menu-name" href="{{.Host.Host}}/about">关于自己</a>
					</li>
				</ul>
			</div>
		</div>
		<div style="margin: 0 auto; width: 80%; margin-top: 40px;  background: #fff; border-width: 1px; padding: 20px 15px 30px 20px;">
			<div style="margin-top: 30px;">
				<img style="border-radius: 50%;margin: 0 auto; height: 80px; width: 80px; display: block; " src="https://tva3.sinaimg.cn/crop.0.0.180.180.180/a148c78cjw1e8qgp5bmzyj2050050aa8.jpg" alt="">
			</div>
			<p style="margin: 10px 0 15px 0; text-align: center; font-size: 16px;">小风</p>
			<p style="padding-top: 30px; font-size: 19px; margin: 0 auto; width: 300px; text-align: center;">应当静如水</p>
			<p style="padding-top: 15px; font-size: 19px; margin: 0 auto; width: 300px; text-align: center;">玩技术，爱分享，爱生活，爱老婆</p>
			<div style="width: 300px; margin: 0 auto; margin-top:30px; ">
				<p style="text-align: center;">联系我: </p>
				<p style="margin-top: 10px; text-align: center;">不常玩的微信: 风惜殇</p>
				<div style="margin: 0 auto; width: 128px; margin-top: 20px;">
					<img style="width: 128px; height: 128px;"; src="./img/wechat.png" alt=""/>
				</div>
				<p style="margin-top: 10px; text-align: center;">不常登的Email: <a href="mailto:sjjwind@live.com">sjjwind@live.com</a></p>
			</div>
		</div>
	</div>
	<div class="body-bottom">
		<div class="sep"></div>
		<p>© 2016 小风的个人博客
			<a class="gov" target="_blank" href="https://www.miitbeian.gov.cn/">浙ICP备16031285号</a>
		</p>
		<p class="golang">Written by <a class="write" target="_blank" href="https://golang.org">Golang</a></p>
		<p class="aliyun">本站由<a href="https://aliyun.com">阿里云</a>提供计算服务与安全服务</p>
	</div>
</body>
</html>