<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="utf-8" />
	<meta property="wb:webmaster" content="ec68cbf32bb1042d" />
	<meta property="qc:admins" content="66062235164106375" />
	<!-- <meta property="qc:admins" content="66062230477671641641656375" /> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>小风的个人博客</title>
	<link rel="stylesheet" href="/css/global.css" />
</head>
<body>
	<div class="body">
		<div id="nav">
			<img class="icon" src="{{.Host.Host}}/img/icon.png"/>
			<div class="nav-center">
				<ul class="clear">
					<li class="active"><a href="{{.Host.Host}}/index">博客</a></li>
					<li><a href="{{.Host.Host}}/high">High玩</a></li>
					<li><a href="{{.Host.Host}}/about">关于自己</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="header">
			</div>
			<div class="content">
				{{range .BlogList}}
				<article class="excerpt">
					<header>
						<a class="label label-important" href="{{$.Host.Host}}/sort?type={{.BlogSortType}}">{{.BlogSortType}}
							<i class="label-arrow"></i>
						</a>
						<h2><a target="_blank" href="{{$.Host.Host}}/blog?id={{.BlogID}}" title="{{.BlogTitle}}">{{.BlogTitle}}</a></h2>
					</header>
					<div class="focus"><a target="_blank" href="{{$.Host.Host}}/blog?id={{.BlogID}}"><img class="thumb" src="{{$.Host.Host}}/cover?id={{.BlogUUID}}" height="123" width="200" alt="{{.BlogTitle}}"></a></div>
						<span class="note"> {{.BlogDescription}}</span>
					<p class="auth-span">
							<span class="muted"><i class="fa fa-user"></i> <a href="{{$.Host.Host}}/about">{{.BlogAuthor}}</a></span>
							<span class="muted"><i class="fa fa-clock-o"></i> {{.BlogTime}}</span>	<span class="muted"><i class="fa fa-eye"></i> {{.BlogVisitCount}}℃</span>	<span class="muted"><i class="fa fa-comments-o"></i> <a target="_blank" href="{{$.Host.Host}}/blog?id={{.BlogID}}#comment">{{.BlogCommentCount}}评论</a></span><span class="muted">
					<a href="javascript:;" data-action="ding" data-id="{{.BlogID}}" id="Addlike" class="action"><i class="fa fa-heart-o"></i><span class="count">{{.BlogPraiseCount}}</span>喜欢</a></span></p>
				</article>
				{{end}}
			</div>
			<div class="side">
				<div class="widget widget_archive"><div class="small_title"><h2>文章归档</h2></div>		
					<ul>
						{{range .Side.BlogTimeList}}
						<li><a href="{{$.Host.Host}}/date?time={{.Year}}.{{.Month}}">{{.Date}}</a></li>
						{{end}}
					</ul>
				</div>
				<div class="widget d_tag">
					<div class="small_title">
						<h2>标签</h2>
					</div>
					<div class="d_tags">
						{{range .Side.BlogTagList}}
						<a title="" href="{{$.Host.Host}}/tag?type={{.Tag}}" data-original-title="{{.Count}}个话题">{{.Tag}} ({{.Count}})</a>
						{{end}}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
